<div class="picfeed-header">
    <h1>I take pictures</h1>

    <div class="picfeed-container">
        <div class="column">
            <div class="caption-photo">
                <img class="caption-photo-layer_bottom" src="../../../assets/img/lit.jpg">
                <div class="caption-photo-layer_top">
                    <div class="caption-photo-text">
                        <h2>Lit</h2>
                        <p>Christmas lights in my college apartment.</p>
                    </div>
                </div>
            </div>
            <div class="caption-photo">
                <img class="caption-photo-layer_bottom" src="../../../assets/img/cross.png">
                <div class="caption-photo-layer_top">
                    <div class="caption-photo-text">
                        <h2>Holy Lookout</h2>
                        <p>Window vew from La Sagrada Familia, Barcelona.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="caption-photo">
                <img class="caption-photo-layer_bottom" src="../../../assets/img/tower.jpg">
                <div class="caption-photo-layer_top">
                    <div class="caption-photo-text">
                        <h2>Clock Tower</h2>
                        <p>Rooftop view in November, Barcelona.</p>
                    </div>
                </div>
            </div>
            <div class="caption-photo">
                <img class="caption-photo-layer_bottom" src="../../../assets/img/sunset.jpg">
                <div class="caption-photo-layer_top">
                    <div class="caption-photo-text">
                        <h2>Sunset</h2>
                        <p>View from a trail lookout in Bloomsburg, PA.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="caption-photo">
                <img class="caption-photo-layer_bottom" src="../../../assets/img/locks.jpg">
                <div class="caption-photo-layer_top">
                    <div class="caption-photo-text">
                        <h2>Locks</h2>
                        <p>Scenic bridge in Copenhagen, Denmark.</p>
                    </div>
                </div>
            </div>
            <div class="caption-photo">
                <img class="caption-photo-layer_bottom" src="../../../assets/img/mont.png">
                <div class="caption-photo-layer_top">
                    <div class="caption-photo-text">
                        <h2>Montserrat Fog</h2>
                        <p>Cool monestary village in the mountains of Spain.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--div class="picfeed-container">
        <div class="column">
            <img class="picfeed-pic" src="../../../assets/img/lit.jpg">
            <img class="picfeed-pic" src="../../../assets/img/cross.png">
        </div>
        <div class="column">
            <img class="picfeed-pic" src="../../../assets/img/tower.jpg">
            <img class="picfeed-pic" src="../../../assets/img/sunset.jpg">
        </div>
        <div class="column">
            <img class="picfeed-pic" src="../../../assets/img/locks.jpg">
            <img class="picfeed-pic" src="../../../assets/img/mont.png">
        </div>
    </div-->
</div>