<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/SwedenBridge.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Nate's Website</h1>
                    <!--div class="fog-low">
                        <img src="assets/img/fog-low.png" alt="">
                    </div-->
                    <!--div class="fog-low right">
                        <img src="assets/img/fog-low.png" alt="">
                    </div-->
                </div>

                <h2 class="presentation-subtitle text-center">Hello, I'm Nate and this is my website.</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <h6 class=" category-absolute ml-auto mr-auto">There's nothing here yet but I'll work on this at some point.</h6>
    </div>
    <div class="main">
        <div class="section" style="background: gray;">
            <div class="container text-center" >
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">There'll be even more stuff down here.</h2>
                        <p class="description">It's a work in progress if you couldn't tell.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <picfeed></picfeed>
</div>
